
<div class="contenedor">
    <app-botones-flotantes></app-botones-flotantes>
</div>

<!-- cabecera pagina -->
<section class="section section-height-4 border-0 m-0 section-overlay-opacity section-overlay-opacity-scale-3" style="
   background-image:url(assets/img/moncada/banner/h.jpg);
   background-size: cover;
   background-position: center;
 ">
    <div class="container position-relative pt-5 pb-5-5 mt-5 mb-5">
        <div class="row justify-content-end pt-1 mt-lg-5">

        </div>
    </div>
</section>
<section class="section section-no-border pt-0 pb-5 m-0 callout-dark heading-title heading-arrow-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 text-center offset-lg-1">
                <h3 class="mb-0">Centro de Documentación</h3>
            </div>
        </div>
    </div>
</section>

<section class="border-0 bg-transparent margen-superior">
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <h5 class=" mb-4">SALA DE EXPOSICIONES TRANSITORIAS</h5>
            </div>

            <div class="col-xl-12">


                <section>
                    <div>

                        <div data-plugin-options="{'minWindowWidth': 0}">
                            <div>
                                <div style="margin-left: -5px;">
                                    <strong class="text-dark">“RENATO GUITART”</strong>
                                </div>
                                <div class="timeline-box-arrow"></div>
                                <div class="timeline-box-content clearfix">
                                    <p class="m-0 my-custom-paragraph"> Se expondrán muestras de las colecciones de los centros que
                                        integran la Red y de otras instituciones del país. Se realizarán exposiciones de las artes visuales, con
                                        el objetivo de promover la obra de artistas que abordan la temática del Moncada y la Revolución Cubana.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </div>
</section>

<section class="border-0 bg-transparent margen-superior">
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <h5 class=" mb-4">SALA POLIFUNCIONAL</h5>
            </div>

            <div class="col-xl-12">


                <section>
                    <div>

                        <div data-plugin-options="{'minWindowWidth': 0}">
                            <div>
                                <div style="margin-left: -5px;">
                                    <strong class="text-dark">“FERNANDO CHENARD PIÑA”</strong>
                                </div>
                                <div class="timeline-box-arrow"></div>
                                <div class="timeline-box-content clearfix">
                                    <p class="m-0 my-custom-paragraph"> Se impartirán conferencias por
                                        profesores, investigadores y museólogos, relacionados con la temática,
                                        presentaciones de libros, rueda de prensa, proyección de materiales
                                        audiovisuales y actividades culturales sistemáticas pertenecientes a la
                                        Programación Cultural del Museo.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </div>
</section>

<section class="border-0 bg-transparent margen-superior">
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <h5 class=" mb-4">CENTRO DE DOCUMENTACIÓN</h5>
            </div>

            <div class="col-xl-12">


                <section>
                    <div>

                        <div data-plugin-options="{'minWindowWidth': 0}">
                            <div>
                                <div style="margin-left: -5px;">
                                    <strong class="text-dark">“HAYDÉE SANTAMARÍA CUADRADO”-“MELBA HERNÀNDEZ RODRIGUEZ
                                        DEL REY” </strong>
                                </div>
                                <div class="timeline-box-arrow"></div>
                                <div class="timeline-box-content clearfix">
                                    <p class="m-0 my-custom-paragraph"> Rescatar y salvaguardar la memoria
                                        histórica documental relacionada con las acciones del 26 de julio de 1953, al
                                        servicio de investigadores, profesores y estudiantes para su consulta y la
                                        reproducción de publicaciones, fotos, investigaciones y otros documentos.
                                        Prestará servicios especializados como conferencias y asesorías a otras
                                        instituciones interesadas dentro y fuera del país.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </div>
</section>

<section class="border-0 bg-transparent margen-superior" style="padding-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <h5 class=" mb-4">SALA DE NAVEGACIÓN</h5>
            </div>

            <div class="col-xl-12">


                <section>
                    <div>

                        <div data-plugin-options="{'minWindowWidth': 0}">
                            <div>
                                <div style="margin-left: -5px;">
                                    <strong class="text-dark">“JOSÉ LUIS TASSENDE DE LAS MUÑECAS”</strong>
                                </div>
                                <div class="timeline-box-arrow"></div>
                                <div class="timeline-box-content clearfix">
                                    <p class="m-0 my-custom-paragraph"> Garantizar la conectividad de todas las
                                        instituciones miembros de la RED, posibilitando el acceso a sus colecciones,
                                        programación e historia. Constituye el centro de gestión del patrimonio del
                                        Moncada. Brindará servicios a investigadores, profesores, estudiantes y público
                                        en general. </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </div>
</section>

