
<div class="container-fluid ">

    <div class="card card d-flex flex-column">
        <div class="card-header">
            <div style="display: flex; justify-content: space-between; align-items: center;">

                <span id="card_title">
                    <h3>{{contenido?.nombre}}</h3>
                </span>

                <div class="float-right d-flex">

                    <a (click)="saveVideo()"
                    mat-raised-button class="anadir-custom-button btn-sm float-right" data-placement="left">
                        Crear Video
                    </a>

                </div>

            </div>

            <div class="card-body flex-grow-1">

                <!-- <div class="col-md-12" style="margin-left: 28px;">
                    <div class="col-2 col-12 col-sm-6 col-md-4 col-lg-3">
                        <input [(ngModel)]="terminoBusqueda" (input)="filtrarDatos()" type="search" class="form-control"
                            placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2"
                            style="margin-left: -30px;">
                    </div>
                </div> -->

                <div class="table-responsive" style="margin-top: 5px;">

                    <div *ngIf="loading" class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>

                    <table *ngIf="!loading" id="emisora" class="table table-striped table-hover" style="width:100%">
                        <thead class="thead table">
                            <tr>
                                <th>No</th>
                                <th>Título</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr
                                *ngFor="let video of videos | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                                <td>{{i + 1}}</td>
                                <td>{{ video.nombre }}</td>
                                <td>
                                    <form class="d-flex">

                                        <button (click)="editVideo(video)" mat-raised-button
                                        class="custom-button" style="margin-left: 5px;">Editar</button>

                                        <button mat-raised-button color="warn" (click)="deleteVideo( video.id )" style="margin-left: 5px;">Borrar</button>

                                    </form>
                                </td>
                            </tr>
                        </tbody>

                    </table>

                    <div class="d-flex justify-content-center pagination">
                        <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel=""
                            nextLabel=""></pagination-controls>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>


