
<section class="section bg-transparent border-0  p-relative overflow-hidden margen-superior">
    <div class="container pb-5 mb-3">
        <div class="row mb-2">
            <div class="col text-left">
                <h5 class="mb-2 ">Galería de imágenes de la sala</h5>
                <p>Una visión de nuestra historia a través de las imágenes. .</p>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-sm-6 mb-4 col-lg-3">
                <a >
                    <span class="thumb-info custom-thumb-info-style-1 thumb-info-no-borders thumb-info-no-borders-rounded">
                                        <span class="thumb-info-wrapper">
                                            <img src="assets/img/moncada/salas/sala1/480x270/retrato.jpg" alt="" class="img-fluid">
                                            <span class="thumb-info-action">
                                                <span class="thumb-info-action-icon border-radius-0"><i class="fas fa-plus"></i></span>
                    </span>
                    </span>
                    </span>
                </a>

            </div>
            <div class="col-sm-6 col-md-3 mb-4">
                <a >
                    <span class="thumb-info custom-thumb-info-style-1 thumb-info-no-borders thumb-info-no-borders-rounded">
                                        <span class="thumb-info-wrapper">
                                            <img src="assets/img/moncada/salas/sala1/480x270/chaleco.jpg" alt="" class="img-fluid">
                                            <span class="thumb-info-action">
                                                <span class="thumb-info-action-icon border-radius-0"><i class="fas fa-plus"></i></span>
                    </span>
                    </span>
                    </span>
                </a>

            </div>
            <div class="col-sm-6 col-md-3">
                <a >
                    <span class="thumb-info custom-thumb-info-style-1 thumb-info-no-borders thumb-info-no-borders-rounded">
                                        <span class="thumb-info-wrapper">
                                            <img src="assets/img/moncada/salas/sala1/480x270/1.jpg" alt="" class="img-fluid">
                                            <span class="thumb-info-action">
                                                <span class="thumb-info-action-icon border-radius-0"><i class="fas fa-plus"></i></span>
                    </span>
                    </span>
                    </span>
                </a>

            </div>

            <div class="col-sm-6 col-md-3">
                <a >
                    <span class="thumb-info custom-thumb-info-style-1 thumb-info-no-borders thumb-info-no-borders-rounded">
                                        <span class="thumb-info-wrapper">
                                            <img src="assets/img/moncada/salas/sala1/480x270/2.jpg" alt="" class="img-fluid">
                                            <span class="thumb-info-action">
                                                <span class="thumb-info-action-icon border-radius-0"><i class="fas fa-plus"></i></span>
                    </span>
                    </span>
                    </span>
                </a>

            </div>

        </div>
    </div>
</section>