a, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Kessel105Text-Book';
    font: 'Kessel105Text-Book';
  }
  
  h5{
    font-family: 'Kessel105Text-Book';
    font: 'Kessel105Text-Book';
    font-size: 17pt;
    line-height: 24px;
    font-weight: bold;
  }
  
  h4 {
    font-size: 15pt;
    line-height: 27px;
    margin: 0 0 14px;
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'Kessel105Text-Book' format('truetype');
    src: url('/assets/fonts/kessel-105-text-heavy-oblique.ttf');
  }
  
  a, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Kessel105Text-Book';
  }
  